html, div#root, div.App {
  height: 100%;
}

body {
  font-family: 'Sanchez', serif;
  margin: 0;
}

.App-header {
  height: 90%;
  display: inline-block;
  width: 100%;
}

footer {
  height: 10%;
  color: #3f51b5;
  text-align: center;
  margin: 5% 0 1% 0;
}

footer p {
  margin: 0;
}

.content-project img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.content-project img:hover {
  opacity: 0.7;
}

.image-modal-content {
  display: block;
  max-width: 700px;
}

.image-modal-content img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 350px;
}

.scroll-to-top {
  float: right;
}

@media screen and (max-width: 575px) {
  .image-modal-content {
    width: 80% !important;
  }

  .App-header {
    height: 100%;
  }

  footer {
    margin-top: 15%;
  }
}