.container-about h3 > a {
    color: #fff;
    text-decoration: none;
}

.container-about > div {
    height: 100%;
}

.content-about > .row {
    width: 100%;
    text-align: justify;
    color: #fff;
}

.content-about {
    margin: 5% 10%;
}

p#about-text {
    padding: 0 5%;
}

@media screen and (max-width: 767px) {
    .container-about > div {
        text-align: center;
    }
}