.container-about h3 > a {
    color: #fff;
    text-decoration: none;
}

.container-about > div {
    height: 100%;
}

.content-about > .row {
    width: 100%;
    text-align: justify;
    color: #fff;
}

.content-about {
    margin: 0 10%;
}

[class*="MuiAvatar-"] img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}