.no-project {
    color: #3f51b5;
    text-align: center;
    font-size: xx-large;
}

p.img-caption {
    margin-top: 0;
    font-size: x-small;
    font-style: italic;
}

.content-project {
    margin: 5% 25%;
    text-align: center;
}

.content-project h1 {
    text-align: center;
}

.content-project .row {
    margin-bottom: 5%;
}

.content-project img {
    width: 50%;
}

.container-project-details h3 > a {
    color: #fff;
    text-decoration: none;
}

.link-to-portfolio {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .container-project-details > div {
        text-align: center;
    }

    .content-project {
        margin: 5% 5%;
    }
}