.no-project {
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

.content-project {
    margin: 5% 20%;
    color: #fff;
    text-align: justify;
}

.content-project h1 {
    text-align: center;
}

.content-project .row {
    margin-bottom: 5%;
}

.content-project img {
    width: 100%;
}

.container-project-details h3 > a {
    color: #fff;
    text-decoration: none;
}

.link-to-portfolio {
    text-decoration: underline;
}