.container-welcome {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-welcome > div {
    height: 100%;
}

h1, h3 {
    color: #fff;
    font-weight: lighter;
    margin: 0;
    padding: 5%;
}

[class*="ButtonBases"] {
    margin-top: 10%;
}